/***************** COMMON CSS STARTS *****************/
	
	*{
		font-family: 'Montserrat', sans-serif;
	}
	html{
		scroll-behavior: smooth;
	}
	h1,h2,h3,h4,h5{
		font-weight: 600;
	}
	.vmdl{
		position: relative;
		top: 50%;
		transform: translate(0%,-50%);
	}
	.error{
		color: red;
		font-size: 14px;
		font-style: italic;
		font-weight: 600;
	}
	a{
		color: #000;
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
		color: #000;
	}
	.hd span{
		font-size: 13px;
		color: #7d7c7c;
	}
	.dropdown-item{
		font-size: 13px;
	}
	.bg-grey{
		background: #f5f5f5 !important;
	}
	.bg-dark{
		background: #fafafa !important;
	}
	button,.form-control{
		box-shadow: unset !important;
		outline: none !important;
	}
	.bg-blue-20{
        background: #3190ff;
    }
    .aligncenter {display:block;margin:0 auto 15px}
	#more {display: none; transition: 0.5s ease-in-out;}
	/*.reply1{display: none;}*/
	#reply1, #reply2, #reply3, #reply4{
		display: none;
	}
	.banner img{
		width: 100%;
	}
	.order-sucesful img{
		max-width: 45%;
		margin-top: 35px;
	}
	.order-sucesful .txt p{
		font-size: 14px;
		font-weight: 600;
	}
	.order-sucesful .txt p span{
		color: green;
	}
	.order-sucesful .txt p a{
		color: #0066c0;
	}
	#Query .modal-header{
		background: #0066b2;
		color: #fff;
	}
	button.rply{
		background: unset !important;
		border:unset !important;
	}
	#Query .modal-header .close{
		position: absolute;
		top: 0px;
		right: 20px;
		color: #fff;
		opacity: 1;
	}
	.close:hover{
		color: #fff;
	}
	#Query button.btn{
		background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    padding: 5px 15px;
	    font-size: 14px;
		font-weight: 500;
	}
	.modal{
		z-index: 111111;
	}
	.fix-button{
		position: fixed;
		bottom: 0px;
		width: 100%;
		z-index: 11;
		display: none;
	}
	.fix-button button{
		background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
		width: 100%;
		padding: 8px;
	}
	@media(max-width: 767px){
		.order-sucesful img{
			max-width: 80%;
		}
		.fix-button{
			display: block;
		}
	}
	/*************** SCROLL CSS STARTS ***************/
		#scroll{
			position: fixed;
			display: none;
			right: 10px;
			bottom: 10px;
			cursor: pointer;
			width: 40px;
			height: 40px;
			background-color: #061a50;
			opacity: 0.9;
			display: none;
			z-index: 100;
			transition: 0.3s ease-in-out;
		}
		#scroll span{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -8px;
			margin-top: -12px;
			height: 0;
			width: 0;
			border: 8px solid transparent;
			border-bottom-color: #ffffff;
			transition: 0.3s ease-in-out;
		}
		#scroll:hover{
    		opacity: 1;
    	}
    	#scroll:hover span{
      		top: 35%;
      	}
	/**************** SCROLL CSS ENDS ****************/


	/************ HEADER CSS STARST ************/
		
		header{
			background: #293542;
			color: #fff;
			width: 100%;
		}
		header a{
			color: #fff;
		}
		header a:hover{
			color: #fff;
		}
		header .login li{
			margin: 0px 5px;
		}
		header .login li a{
			text-decoration: none;
		}
		header .login .cart img{
			max-width: 20px;
		}
		header .login .cart{
			border: 1px solid rgba(255,255,255,0.35);
			padding: 2px 5px;
			border-radius: 4px;
			position: relative;
		}
		.hover-box{
			position: absolute;
			left: 77%;
			background: #fff;
			padding: 15px;
			z-index: -1;
			top: 119px;
			width: 300px;
			opacity: 0;
			display: none;
		}
		.hover-box img{
			height: 50px;
			width: 100%;
		}
		.hover-box .txt h6{
			color: #212121;
			font-weight: 600;
		}
		.hover-box .txt p del{
			color: red;
			font-weight: 600;
			font-size: 16px;
		}
		.hover-box .txt p{
			color: #212121;
			font-size: 14px;
		}
		.hover-box .button{
			background: #0066b2;
		}
		header .login .cart a:hover .hover-box{
			opacity: 1;
			z-index: 111;
		}
		header .top-most{
			position: relative;
		}
		header .top-most:after{
			position: absolute;
			content: '';
			border-bottom: 1px solid rgba(255,255,255,0.30);
			left: 20%;
			bottom: 0px;
			height: 1px;
			width: 80%;
		}
		header .top-most ul li {
		    margin: 0px 10px;
		    position: relative;
		    color: #fff;
		}
		header.sticky{
			position: fixed;
	        top: 0px;
	        width: 100%;
	        z-index: 11111;
	        transition: 0.5s ease-in-out;
		    -webkit-animation-duration: 0.5s;
		    animation-duration: 0.5s;
		    -webkit-animation-fill-mode: both;
		    animation-fill-mode: both;
		    -webkit-animation-name: fadeInDown;
		    animation-name: fadeInDown;
		    border-bottom: 1px solid #f1f1f1;
		}
		header.sticky .top-most{
			display: none !important;
		}
		header .top-most ul li.wdth {
		    width: 146px;
		}
		header .top-most ul li.wdth1 {
		    width: 115px;
		}
		header .top-most ul li.wdth:after {
		    right: -12px;
		    margin: 0px 5px;
		}

		header .top-most ul li:after {
		    position: absolute;
		    content: '';
		    border-right: 1px solid rgba(193,193,193,0.30);
		    top: 0px;
		    right: -7px;
		    height: 100%;
		    width: 1px;
		}
		header .top-most ul li:last-child:after{
		    display: none;
		}
		header .top-most ul li a {
		    color: #fff;
		    font-size: 12px;
		    text-decoration: none;
		}

		header .top-most ul li a:hover {
		    color: #fff;
		}

		header .top-most img {
		    max-width: 20px;
		}
		header .login .cart .txt-top{
			position: absolute;
			top: 4px;
			left: 12px;
			font-size: 12px;
		}
		header .rght-ln{
			position: relative;
		}
		header .rght-ln:after{
			position: absolute;
			content: '';
			border-right: 1px solid rgba(255,255,255,0.34);
			height: 66px;
			width: 1px;
			top: -13px;
			right: -15px;
		}
		header .logo img{
	        position: absolute;
		    top: -34px;
		    max-width: 140px;
		    left: 50%;
		    transform: translate(-50%, 0%);
		}
		header .logo2 img{
		    position: absolute;
		    top: -10px;
		    max-width: 250px;
		    left: 57%;
		    transform: translate(-50%, 0%);
		}
		header.sticky .logo img{
			top: -3px;
			max-width: 85px;
		}
		.stellarnav .menu-toggle span.bars{
		    left: -13px;
		}
		.stellarnav>ul>li{
			font-size: 14px;
		}
		.stellarnav li.has-sub>a:after {
		    content: '\f078';
		    font-family: 'FontAwesome';
		    margin-left: 10px;
		     border-left: none;
		     border-right: none;
		    border-top: none;
		    display: inline-block;
		}
		.stellarnav>ul>li>a{
            padding: 10px 20px !important;
            color: #fff;
        }
        .stellarnav ul ul{
        	background: #fff;
        }
        .stellarnav>ul>li:last-child a{
            padding-right: 0px !important;
            padding-left: 26px !important;
            color: #fff;
        }
        .stellarnav>ul>li:last-child a i{
        	color: #fff;
        }
        .stellarnav.mobile.right>ul, .stellarnav.mobile.right>ul{
            background: #007dbb;  
        }
        .stellarnav .menu-toggle span.bars span{
            background: #fff !important;
        }
        .stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile, .stellarnav.mobile .menu-toggle{
            position: absolute;
		    left: 84%;
		    top: -47px;
        }
        .stellarnav img{
            max-width: 35%;
            display: none;
        }
        .sub-menu{
        }
        .sub-menu li{
            position: relative;
        }
        .sub-menu li:after{
            position: absolute;
            content: '';
            border-top: 1px solid #f1f1f1;
            height: 1px;
            width: 100%;
            left: 0px;
            bottom: 0px;
        }
        .sub-menu li a{
            padding: 18px !important;
            color: #212121;
            font-weight: 600;
        }
        .stellarnav a.dd-toggle .icon-plus:after, .stellarnav a.dd-toggle .icon-plus:before{
            border-bottom: solid 3px #fff !important;
        }
        .stellarnav.mobile.right .close-menu, .stellarnav.mobile.right .close-menu{
            color: #fff;
        }
		.stellarnav.mobile.right>ul, .stellarnav.mobile.right>ul{
            z-index: 1111;
        }
		.stellarnav .icon-close:after, .stellarnav .icon-close:before{
            border-color: #fff;
        }
        header .srch{
        	width: 80%;
		    margin-left: 23px;
		    margin-top: 10px;
		    background: #d4d4d4;
        }
        header .srch::placeholder{
        	color: #212121;
        }
        header #searchIcon {
			-webkit-transition-duration: 500ms;
			transition-duration: 500ms;
			color: #ffffff;
			font-size: 20px;
			cursor: pointer;
			margin-left: 8px;
		}
		@media(max-width: 1199px){
			.stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile, .stellarnav.mobile .menu-toggle{
				top: -26px;
			}
		}
		@media only screen and (min-width: 768px) and (max-width: 991px) {
			header #searchIcon {
				margin-left: 30px;
				margin-top: 15px; 
			} 
		}
		@media only screen and (max-width: 767px) {
			header #searchIcon {
				margin-left: 30px;
				margin-top: 15px; 
			} 
		}
		header #searchIcon:hover, header #searchIcon:focus {
			color: #1436fd; 
		}
		header .search-form {
			position: relative;
			z-index: 1;
			opacity: 0;
			display: none;
			-webkit-transition-duration: 500ms;
			transition-duration: 500ms;
		}
		header .search-form form {
			-webkit-transition-duration: 500ms;
			transition-duration: 500ms;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 100;
			background-color: #ffffff;
			width: 500px;
			border-radius: 5px;
			padding: 30px;
			box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.15); 
		}
		header .search-form.active{
			display: block;
			opacity: 1;
		}
		@media only screen and (max-width: 767px) {
			header .search-form form {
				width: 290px;
				padding: 20px; 
			} 
		}
		header .search-form form input {
			width: 100%;
			height: 45px;
			border: 1px solid #ebebeb;
			padding: 0 30px;
			border-radius: 5px;
			font-size: 14px; 
		}
		@media only screen and (max-width: 767px) {
			header .search-form form input {
				padding: 0 15px; 
			} 
		}
		header .search-form .closeIcon {
			-webkit-transition-duration: 500ms;
			transition-duration: 500ms;
			position: absolute;
			top: 41px;
			right: 60px;
			z-index: 200;
			cursor: pointer;
			color: #707070; 
		}
		header .search-form .closeIcon:hover {
			color: #70c745; 
		}
        @media(min-width: 1200px) and (max-width: 1367px){
        	.stellarnav, .stellarnav li{
        		left: 22px;
        	}
        	.stellarnav>ul>li>a{
        		padding: 10px 11px !important;
        	}
        }
        @media(max-width: 1199px){
        	header .logo img{
            	max-width: 180px;
            }
            .stellarnav, .stellarnav li{
        		left: unset;
        	}
        	header .logo img{
				top: -2px;
				position: unset;
				transform: unset;
				max-width: 70px;
			}
			header .logo2 img{
				position: unset;
				transform: unset;
			}
        }
		@media(max-width: 991px){
            .stellarnav img{
                display: inline-block !important;
            }
            .stellarnav>ul>li>a{
                padding: 20px !important;
            }
            header{
                background: #293542 ;
                position: relative;
                top: 1px;
            }
            .stellarnav.mobile, .stellarnav.mobile.fixed{
				width: 35px;
			}
			.stellarnav .menu-toggle span.bars{
				top: 9px;
			}
			header .logo img{
				top: -2px;
				position: unset;
				transform: unset;
				max-width: 70px;
			}
			header .logo2 img{
				position: unset;
				transform: unset;
			}
        }
        @media(max-width: 767px){
            .stellarnav.midl{
                top: unset;
                transform: unset;
            }
			header .top .login li {
			    margin: 0px 4px;
			}
			
			.stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile, .stellarnav.mobile .menu-toggle{
				top:-48px;
			}
			header .logo img{
				top: -2px;
				position: unset;
				transform: unset;
				max-width: 70px;
			}
			header .logo2 img{
				position: unset;
				transform: unset;
			}
		}
		@media(min-width: 300px) and (max-width: 375px){
			.stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile, .stellarnav.mobile .menu-toggle{
				left: 81%;
			}
		}

	/************* HEADER CSS ENDS *************/





	/************ BANNER CSS STARTS ************/
		.banners img{
			width: 100%;
		}
		.banners .left-img, .banners .item{
			clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
		}
		.banners .rght-img{
			clip-path: polygon(16% 0%, 100% 0%, 100% 100%, 0% 100%);
			position: absolute;
			left: -50px;
		}
		.banners .rght-img img{
		    height: 373px;
		    width: 430px;
		    /* object-fit: cover; */
		    cursor: pointer;
		}
		#banner{
			cursor: pointer;
		}
		@media(min-width: 1200px) and (max-width: 1366px){
			.banners .rght-img{
				left: -45px;
			}
			.banners .rght-img img{
				height: 335px;
			}
		}
		@media(max-width: 1199px){
			.banners .rght-img img{
				height: 218px;
			}
			.banners .rght-img{
				left: -40px;
			}
		}
		@media(max-width: 1024px){
			.banners .rght-img img{
				height: 250px;
			}
		}
		@media(max-width: 991px){
			.banners .rght-img{
				left: -25px;
			}
			.banners .rght-img img{
				height: 239px;
			}
		}
		@media(min-width: 768px) and (max-width: 900px){
			.banners .rght-img img{
				height: 188px;
			}
		}
		@media(max-width: 767px){
			.banners .rght-img{
				left: -10px;
			}
			.banners .rght-img img{
				height: 77px;
			}
			#onloadmodal .modal-body span{
				color: #212121 !important;
			}
		}
		@media(min-width: 375px) and (max-width: 420px){
			.banners .rght-img img{
				height: 93px;
			}
		}
		@media(min-width: 300px) and (max-width: 374px){
			.banners .rght-img img{
				height: 79px;
			}
		}
	/************* BANNER CSS ENDS *************/





	/************ FOOTER CSS STARST ************/
		footer{
			border-bottom: 1px solid #e3e3e3;
		}
		footer .lft{
			width: 205px;
		}
		footer ul{
			list-style: none; 	
		}
		footer ul li{
			margin: 5px 0px;	
		}
		footer .hd h5{
			font-weight: 600;
		}
		footer ul li, footer p{
			font-size: 13px;
			line-height: 2;
			letter-spacing: 1px;
		}
		footer h5{
			font-size: 19px;
		}
		.bottom .rght-text img{
			max-width: 70px;
			position: relative;
			top: -5px;
		}

		@media (min-width: 1200px){
			footer .container {
			    max-width: 1245px;
			}
		}
		@media(max-width: 767px){
			.bottom p{
				font-size: 12px;
			}
			.bottom .rght-text img{
				max-width: 50px;
			}
		}
	/************* FOOTER CSS ENDS *************/


	/********* ONLOADMODAL CSS STARTS *********/
		
		#onloadmodal{
		    background: rgba(0,0,0,0.80);
		    z-index: 11111111111;
		}
		#onloadmodal .modal-body{
			background-image: url('../images/modal-bg.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			padding: 75px 40px;
		}
		#onloadmodal .modal-header{
			border-bottom: none;
			padding: 0px 12px 0px 0px;
			position: absolute;
			right: 15px;
			top: 10px;
			z-index: 11;
		}
		#onloadmodal .modal-body .hd h5{
			font-weight: 400;
			font-family: 'Merriweather', serif;
			letter-spacing: 4px;
			font-size: 15px;
			color: #373737;
		}
		#onloadmodal .modal-body .hd h2{
			color: #616161;
			font-size: 50px;
			font-family: 'DM Serif Display', serif;
		}
		#onloadmodal .modal-body .form-control{
			border: 1px solid #7f7f7f;
			height: 50px;
			border-radius: 0px;
			margin-top: 20px;
		}
		#onloadmodal .modal-body .form-control::placeholder{
			color: #a9a9af;
			font-weight: 600;
			font-size: 18px;
		}
		#onloadmodal .modal-body .button button{
			border-radius: 0px;
			padding: 10px 20px;
			width: 100%;
			margin-top: 20px;
			background: #373737;
			color: #fff;
			border: 1px solid #373737;
			text-transform: uppercase;
		}
		#onloadmodal .modal-body span{
			font-size: 12px;
			color: #999999;
		}

	/********** ONLOADMODAL CSS ENDS **********/


	/********* BREADCRUMBS CSS STARTS *********/
		.breadcrumbs{
			-webkit-box-shadow: 0px 5px 9px 0px rgba(240,240,240,1);
			-moz-box-shadow: 0px 5px 9px 0px rgba(240,240,240,1);
			box-shadow: 0px 5px 9px 0px rgba(240,240,240,1);
		}
		.bread-crumbs ul{
			list-style: none;
			padding-left: 0px;
			margin-bottom: 0px;
		}
		.bread-crumbs ul li{
			display: inline-block;
			margin-right: 15px;
			position: relative;
			font-size: 14px;
		}
		.bread-crumbs ul li:after{
			position: absolute;
			content: '/';
			height: 100%;
			width: 5px;
			top: 0px;
			right: -10px;
		}
		.bread-crumbs ul li:last-child:after{
			display: none;
		}
	/********** BREADCRUMBS CSS ENDS **********/

/****************** COMMON CSS ENDS ******************/



/*************** INDEX-PAGE CSS STARTS ***************/

	/********* INDEX-PRODUCTS CSS STARTS *********/

		.index-products .img img{
			height: 300px;
			width: 100%;
			object-fit: cover;
		}
		.index-products .txt h6{
			font-weight: 600;
			font-size: 16px;
		}
		.index-products .txt p{
			font-size: 14px;
			min-height: 45px;
		}
		.index-products .txt .price del{
			font-size: 15px;
			color: red;
			font-weight: 400;
		}
		.index-products .txt{
			margin-top: 8px;
		}
		.index-products .txt .price{
			font-weight: 600;
			font-size: 16px;
		}
		.index-products .txt .price span{
			font-weight: 400;
			color: #0066cc;
			font-size: 14px;
		}
		.index-products .butn{
			background: #0066cc;
			padding: 5px 0px;
			color: #fff;
			border-radius: 5px;
		}
		.index-products .butn a{
			color: #fff;
			font-size: 14px;
		}
		.index-products .butn.bg-grey a{
			color: #212121;
		}
		.index-products .buttons{
		    position: absolute;
		    top: 245px;
		    width: 100%;
		    opacity: 0;
		    transition: 0.5s ease-in-out;
		    background: #fff;
		}
		.index-products .item .txt{
			padding: 12px;
		}
		.index-products .item .knw-more a{
			font-size: 14px;
			margin-left: 12px;
		}
		.index-products .item:hover{
			-webkit-box-shadow: 0px 0px 18px -2px rgba(204,204,204,1);
			-moz-box-shadow: 0px 0px 18px -2px rgba(204,204,204,1);
			box-shadow: 0px 0px 18px -2px rgba(204,204,204,1);
		}
		.index-products .item:hover .buttons{
			opacity: 1;
			transition: 0.5s ease-in-out;
	    	padding: 0px 0px 6px 0px;
		}
		.owl-theme .owl-nav [class*=owl-]:hover{
			background: unset;
		}
		.owl-theme .owl-nav img{
			max-width: 35px;
			outline: none !important;
			box-shadow: unset !important;
		}
		.owl-theme .owl-nav .owl-prev img{
			left: -100px;
			position: absolute;
			top: 50%;
			transform: translate(0%,-50%);
		}
		.owl-theme .owl-nav .owl-next img{
			right: -100px;
			position: absolute;
			top: 50%;
			transform: translate(0%,-50%);
		}
		@media(max-width: 1199px){
			.owl-theme .owl-nav .owl-prev img{
				left: -20px;
			}
			.owl-theme .owl-nav .owl-next img{
				right: -20px;
			}
		}
		@media(max-width: 767px){
			.index-products .img img{
				height: 220px;
			}
			.index-products .txt p{
				font-size: 12px;
			}
		}
	/********** INDEX-PRODUCTS CSS ENDS **********/




	/********** INDEX-ABOUT CSS STARTS **********/
		.index-about{
			background-image: url('../images/factory.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			background-attachment: fixed;
		}
		.index-about:after{
			position: absolute;
			content: '';
			background: rgba(0,0,0,0.90);
			height: 100%;
			width: 100%;
			left: 0px;
			top: 0px;
		}
		.index-about .hd h4{
			position: absolute;
			transform: rotate(270deg);
			left: -150px;
			top: 95px;
			z-index: 111;
			font-size: 18px;
			color: #fff;
		}
		.index-about .hd h4:after{
		    position: absolute;
		    content: '';
		    border-bottom: 1px solid #fff;
		    z-index: 111;
		    width: 61px;
		    height: 1px;
		    bottom: 10px;
		    left: -68px;
		}
		.index-about .img img{
			max-width: 60%;
			position: relative;
			z-index: 11;
		}
		.index-about .txt p{
			line-height: 2;
			letter-spacing: 1px;
			color: #fff;
			position: relative;
			z-index: 11;
		}
		.index-about .txt .read-more{
			font-size: 14px;
			border: 1px solid #fff;
			padding: 5px 15px;
			border-radius: 5px;
			background: unset;
			color: #fff;
			position: relative;
			z-index: 11;
		}
		@media(max-width: 767px){
			.index-about .hd h4{
			    position: absolute;
			    left: 52%;
			    width: 200px;
			    top: -32px;
			    transform: translate(-50%, 0%);
			}
			.index-about .hd h4:after{
				display: none;
			}
			.index-about .txt p{
				font-size: 12px;
				text-align: justify;
			}
			.index-about .img img{
				max-width: 40%;
				margin-top: 40px;
			}
		}
	/*********** INDEX-ABOUT CSS ENDS ***********/



	/********* INDEX-BRANDS CSS STARTS *********/
		.index-brands .items img{
			height: 100px;
			width: 100%;
			object-fit: contain;
		}
		.index-brands .items img:hover{
			opacity: 1;
		}
	/********** INDEX-BRANDS CSS ENDS **********/




	/********* INDEX-BLOGS CSS STARTS *********/
		.index-blogs .blog-text .date p{
			font-size: 30px;
			color: #bfbfbf;
			font-weight: 700;
		}
		.index-blogs .blog-text .date p span{
			font-size: 14px;
			font-weight: 400;
		}
		.index-blogs .blog-text .txt p{
			color: #bfbfbf;
			font-size: 14px;
		}
		.index-blogs .img img{
		    height: 200px;
		    width: 100%;
		    object-fit: cover;
		}
		.index-blogs .img{
			position: relative;
		}
		.index-blogs .img:before{
			position: absolute;
			content: '';
			border-bottom: 4px solid #bfbfbf;
			left: -20px;
			top: 28px;
			height: 4px;
			width: 44px;
		}
		.index-blogs .rm a{
			font-size: 14px;
			font-weight: 600;
		}
	/********** INDEX-BLOGS CSS ENDS **********/




	/******** INDEX-NEWSLETTER STARTS ********/
		.index-newsletter form .form-control{
			position: relative;
			height: 50px;
		}
		.index-newsletter form a{
			position: absolute;
			top: 50%;
			transform: translate(0%,-50%);
			right: 0px;
			background: #000;
			color: #fff;
			padding: 13px 15px;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
		@media(max-width: 767px){
			.index-newsletter form a{
				right: 15px;
			}
		}
	/********* INDEX-NEWSLETTER ENDS *********/

/**************** INDEX-PAGE CSS ENDS ****************/





/********** PRODUCT-LISTING PAGE CSS STARTS **********/

	/**** PRODUCT-LISTING-MAIN CSS STARTS ****/
		
		.product-lisitng-main{
			-webkit-box-shadow: 0px 5px 9px 0px rgba(240,240,240,1);
			-moz-box-shadow: 0px 5px 9px 0px rgba(240,240,240,1);
			box-shadow: 0px 5px 9px 0px rgba(240,240,240,1);
		}
		.product-lisitng-main p{
			font-weight: 500;
			font-size: 15px;
		}
		.product-lisitng-main p span{
			color: #0066b2;
			font-weight: 600;
			font-size: 16px;
		}
		.product-lisitng-main .dropdown .btn{
			border: 1px solid #212121;
			padding: 5px 15px;
			font-size: 13px;
		}
		.product-lisitng-main .dropdown-menu.show{
			left: -91px;
		}
		.sale img{
		    max-width: 50px;
		    position: absolute;
		    top: 0px;
		}
		.sale .txt{
		    position: absolute;
		    top: 6px;
		    left: 19px;
		    color: #fff;
		}

	/***** PRODUCT-LISTING-MAIN CSS ENDS *****/


	/*** PRODUCTS-LISTING-PANEL CSS STARTS ***/
		
		.product-listing-panel aside{
			border-right: 1px solid #e1e1e1;
		}
		.product-listing-panel aside h6, #filter aside h6{
			font-weight: 600;
			font-size: 18px;
			margin-bottom: 15px;
		}
		aside .mrgn{
			margin-bottom: 35px;
		}
		.product-listing-panel aside ul, #filter aside ul{
			list-style: none;
		}
		.product-listing-panel aside ul li, #filter aside ul li{
			margin:10px 0px;
		}
		.product-listing-panel aside ul li input, #filter aside ul input{
			height: 18px;
			width: 18px;
		}
		.product-listing-panel aside ul li span, #filter aside ul li span{
			position: relative;
			top: -5px;
			font-size: 13px;
		}
		.product-listing-panel aside .slidecontainer, #filter aside .slidecontainer{
		  width: 80%;
		}
		.product-listing-panel aside .review ul li a i, #filter aside .Review ul li i{
			color: #ffce00 !important;
		} 
		.product-listing-panel aside .slider, #filter aside .slider{
		  -webkit-appearance: none;
		  width: 100%;
		  height: 5px;
		  background: #d3d3d3;
		  outline: none;
		  opacity: 0.7;
		  -webkit-transition: .2s;
		  transition: opacity .2s;
		}

		.product-listing-panel aside .slider:hover,#filter aside .slider:hover{
		  opacity: 1;
		}

		.product-listing-panel aside .slider::-webkit-slider-thumb, #filter aside .slider::-webkit-slider-thumb{
		  -webkit-appearance: none;
		  appearance: none;
		  width: 25px;
		  height: 25px;
		  background: #0066b2;
		  border-radius: 50%;
		  cursor: pointer;
		}

		.product-listing-panel aside .slider::-moz-range-thumb, #filter aside .slider::-moz-range-thumb{
		  width: 25px;
		  height: 25px;
		  background: #0066b2;
		  border-radius: 50%;
		  cursor: pointer;
		}
		.product-listing-panel .prod-box{
			padding-bottom: 20px;
			border-bottom: 4px solid #e5e5e5;
		}
		.product-listing-panel .prod-box:hover .txt h6{
			color: #0066b2;
		}
		.product-listing-panel .prod-box .img img{
			width: 100%;
			height: 320px;
		}
		.product-listing-panel .prod-box .txt .rating i{
			color: #ffce00;
			font-size: 16px;
		}
		.product-listing-panel .prod-box .txt .rating span{
			color: #0066c0;
			font-size: 14px;
		}
		.product-listing-panel .prod-box .txt h6{
			font-weight: 600;
			font-size: 15px;
			color: #3b3b3b;
		}
		.product-listing-panel .prod-box .txt .price del{
			color: red;
			font-size: 18px;
			font-weight: 600;
		}
		.product-listing-panel .prod-box .txt .price{
			font-size: 14px;
			font-weight: 600;
		}
		.product-listing-panel .prod-box .txt .cupon span{
			background: #7fda69;
			padding: 2px 8px;
		}
		.product-listing-panel .prod-box .txt .cupon{
			font-size: 14px;
		}
		@media (min-width: 1400px){
			.product-listing-panel .container {
			    max-width: 85%;
			}
		}
		@media(max-width: 767px){
			.product-listing-panel .prod-box .txt h6{
				font-size: 15px;
			}
			.product-listing-panel .prod-box .img img{
				height: 220px;
			}
		}

	/**** PRODUCTS-LSITING-PANEL CSS ENDS ****/

/*********** PRODUCT-LISTING PAGE CSS ENDS ***********/




/********** PRODUCT-DETAILS PAGE CSS STARTS **********/

	/******** DETAILS-MAIN CSS STARTS ********/

		.bbbb img{
			height: 70px;
			width: 100%;
			border:1px solid #e2e2e2;
			padding: 10px;
		}
		.main-prod img{
			height: 500px;
			width: 100%;
		}
		#gal1{
			max-height: 500px;
			overflow-y: auto;
		}
		.details-main{
			border-bottom: 1px solid #e2e2e2;
		}
		.details-main .img img{
			width: 100%;
			object-fit: cover;
		}
		.details-main .details-heading, .details-main .price-details{
			border-bottom: 1px solid #e2e2e2;
		}
		.details-main .details-heading h6{
			font-weight: 600;
			font-size: 17px;
		}
		.details-main .details-heading .star i{
			color: #ffce00;
			font-size: 16px;
		}
		.details-main .details-heading .star a{
			color: #0066c0;
			font-weight: 600;
			font-size: 14px;
		}
		.details-main .price-details p{
			color: #3b3b3b;
			font-size: 13px;
		}
		.details-main .price-details .deal-price span{
			color: red;
			font-weight: 600;
			font-size: 18px;
		}
		.details-main .price-details .cupon span{
			background: #0066b2;
			padding: 2px 10px;
			color: #fff;
			position: relative;
			font-weight: 400;
		}
		.details-main .price-details .cupon{
			font-weight: 600;
		}
		.details-main .price-details .cupon input{
			height: 18px;
			width: 18px;
			position: relative;
			top: 5px;
		}
		.details-main .price-details .cupon span:after{
			position: absolute;
			content: '';
		    background: #fff;
		    right: -4px;
		    height: 22px;
		    width: 10px;
		    top: 0px;
		    border-radius: 50%;
		}
		.details-main .price-details ul li .img img{
			max-width: 29px;
		}
		.details-main .price-details ul{
			list-style: none;
		}
		.details-main .price-details ul li{
			margin: 10px 10px 0px 10px;
		}
		.details-main .size p{
			color: #3b3b3b;
			font-size: 15px;
		}
		.details-main .size .dsp-size span{
			font-weight: 600;
			color: #212121;
		}
		.details-main .size .sizes{
			list-style: none;
		}
		.details-main .size .sizes li{
			margin: 0px 4px;
		}
		.details-main .size .sizes li .box{
			border: 1px solid #212121;
			padding: 5px 15px;
			cursor: pointer;
		}
		.details-main .characterstics .txt p{
			color: #ff9400;
			font-weight: 600;
		}
		.details-main .size .sizes li .box h6{
			color: #212121;
			font-weight: 500;
		}
		.bnfts{
			list-style-type: circle;
		}
		.details-main .size .sizes li .box p{
			color: #b0b0b0;
		}
		.details-main .size .sizes li.active .box{
			border: 2px solid #000;
			background: #fefaf6;
		}
		.details-main .size .sizes li.active .box h6{
			font-weight: 600;
		}
		.details-main .size .sizes li.active .box p{
			font-weight: 600;
			color: #0066b2
		}
		.details-main .size .char li{
			font-size: 14px;
		}
		.details-main .check-delivery .delivery-box{
			border: 1px solid #122121;
			padding: 15px;
		}
		.details-main .check-delivery .delivery-box .form{
			border-bottom: 1px solid #e2e2e2;
			padding-bottom: 25px;
		}
		.details-main .check-delivery .delivery-box .form .form-control{
			border: none;
			border-bottom: 1px solid #e3e3e3;
			border-radius: 0px;
		}
		.details-main .check-delivery .delivery-box .bottom p{
			font-size:14px;
			font-weight: 600;
		}
		.details-main .check-delivery .delivery-box .bottom span{
			font-size: 14px;
		}
		.details-main .check-delivery .delivery-box p{
			position: relative;
		}
		.details-main .check-delivery .delivery-box p i{
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translate(0%,-50%);
			font-size: 25px;
			color: #0066b2;
		}
		.details-main .check-delivery .delivery-box .btn{
			background: #0066b2;
			color: #fff;
			border-radius: 0px;
			padding: 8px 20px;
		}
		.details-main .share .env i{
			color: #b3b3b3;
		}
		.details-main .share .fb i{
			color: #3b5998;
		}
		.details-main .share .twt i{
			color: #00acee;
		}
		.details-main .share p{
			font-size: 14px;
		}
		.details-main .share i{
			font-size: 18px;
		}
		.details-main .qty-box{
			border: 1px solid #e3e3e3;
			padding: 20px;
			margin-top: 15px;
			border-radius: 8px;
		}
		.details-main .qty-box p del{
			color: red;
			font-weight: 600;
			font-size: 18px;
		}
		.details-main .qty-box p{
			font-size: 14px;
		}
		.details-main .qty-box p input{
			height: 30px;
			width: 25%;
			border: 1px solid #e3e3e3;
			border-radius: 5px;
		}
		.details-main .add-to-cart{
			border-bottom: 1px solid #e3e3e3;
			padding-bottom: 25px;
		}
		.details-main .add-to-cart .btn{
			background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    padding: 5px 10px;
	    font-size: 14px;
		font-weight: 500;
		width: 100%;
		}
		.details-main .add-to-cart .btn img{
			max-width: 20px;
		}
		.details-main  .qty-box .deliver-to i{
			font-size: 18px;
		}
		.details-main .wishlist{
			border: 1px solid #e3e3e3;
			padding: 15px;
			border-radius: 8px;
		}
		.details-main .wishlist .btn{
			background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    padding: 5px 10px;
	    font-size: 14px;
		font-weight: 500;
		width: 100%;
		}

		@media(max-width: 767px){
			.details-main .price-details ul li .img img{
				max-width: 30px;
			}
			.details-main .price-details ul li .txt p{
				font-size: 12px;
			}
			.details-main .share{
				margin-top: 25px;
			}
			.details-main .price-details ul li{
				margin: 10px 4px 0px 4px;
			}
			.details-main .size .sizes li{
				margin: 0px 1px;
			}
			.review .rply{
				right: 25px !important;
			}
			.zoomContainer{
				display: none;
			}
			.main-prod img{
				height: 250px;
			}
			#gal1{
				max-height: 252px;
			}
			.description ul li p{
				font-size: 14px;
				text-align: justify;
			}
			.offer ul li{
				font-size: 14px;
				text-align: justify;
			}
			.details-main .add-to-cart .btn{
				padding:9px 10px;
			}
		}

	/********* DETAILS-MAIN CSS ENDS *********/



	/******** DESCRIPTION CSS STARTS ********/
		
		.description{
			border-bottom: 1px solid #e2e2e2;
		}
		.head h4{
			color: #0066b2;
			font-size: 20px;
		}
		.description ul{
			list-style: none;
		}
		.description ul li{
			font-size: 14px;
			margin: 8px 0px;
		}
		.description ul li span{
			font-weight: 400;
			letter-spacing: 1px;
			font-size: 15px;
			text-transform: uppercase;
		}
		.description ul li i{
			color: #ffce00;
		}
	/********* DESCRIPTION CSS ENDS *********/


	/*********** OFFER CSS STARTS ***********/
		.offer{
			border-bottom: 1px solid #e2e2e2;	
		}
		.offer ul li{
			font-weight: 600;
			color: #0066b2;
		}
		.offer ul li span{
			color: #212121;
			font-weight: 400;
			font-size: 14px;
		}
	/************ OFFER CSS ENDS ************/

	/******** ALSO-VIEWED CSS STARTS ********/
		.also-viewed{
			border-bottom: 1px solid #e2e2e2;
		}
		.also-viewed .prod-box{
			padding-bottom: 20px;
			border-bottom: 4px solid #e5e5e5;
		}
		.also-viewed .prod-box:hover .txt h6{
			color: #0066b2;
		}
		.also-viewed .prod-box .img img{
			width: 100%;
			height: 320px;
		}
		.also-viewed .prod-box .txt .rating i{
			color: #ffce00;
			font-size: 20px;
		}
		.also-viewed .prod-box .txt .rating span{
			color: #0066c0;
		}
		.also-viewed .prod-box .txt h6{
			font-weight: 600;
			font-size: 17px;
			color: #3b3b3b;
		}
		.also-viewed .prod-box .txt .price del{
			color: red;
			font-size: 18px;
			font-weight: 600;
		}
		.also-viewed .prod-box .txt .price{
			font-size: 14px;
			font-weight: 600;
		}
		.also-viewed .prod-box .txt .cupon span{
			background: #7fda69;
			padding: 2px 8px;
		}
		.also-viewed .prod-box .txt .cupon{
			font-size: 14px;
		}
		@media(max-width: 767px){
			.also-viewed .prod-box .img img{
				height: 220px;
			}
		}
	/********* ALSO-VIEWED CSS ENDS *********/

	/********************** REVIEW CSS STARTS ***********************/

.review .heading h6 {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    font-family: 'oswald', sans-serif;
}

.review .heading h6:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #c1c1c1;
    left: 0px;
    bottom: -5px;
    height: 1px;
    width: 100%;
}

.review .dropdown .btn {
    border: 1px solid #c1c1c1;
    padding: 5px 15px;
}

.review .txt-box h6 {
    font-size: 18px;
    font-weight: 600;
}

.review-box .box {
    border-bottom: 1px solid #c1c1c1;
    padding: 15px;
    border-radius: 0px;
}

.review-box .box .txt h6 {
    font-size: 18px;
    font-weight: 600;
}

.review-box .box span {
    font-size: 12px;
}

.review #revbox .heading h6 {
    font-size: 18px;
    position: relative;
}

.review #revbox .heading h6:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #c1c1c1;
    left: 0px;
    height: 1px;
    width: 100%;
    bottom: -5px;
}
.review .rply{
    color: #212121;
    position: absolute;
    right: 0px;
    bottom: 25px;
    text-decoration: none;
    background: unset;
    border: unset;	
}
.review .rply i{
    color: #212121;
}
.review .rev {
    z-index: 1;
}
.review-box{
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.review-box img {
    max-width: 50px;
    border-radius: 50%;
}

.review-box p {
    font-size: 14px;
}

.review-box i,
.txt-box ul li i,
.review ul li a i {
    color: #ffc107;
}

.review tr td {
    color: #575252;
}

.review .txt-box p {
    font-size: 18px;
    font-weight: 600;
}

.review .txt-box p i,
.review #revbox a i {
    color: #ffc107;
    text-decoration: none;
}
.review .buton .btn{
	background: #f4d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border:1px solid #8D9096;
    border-radius: 3px;
    padding: 5px 0px;
    font-size: 14px;
	font-weight: 500;
	width: 100%;
}
.review #revbox a {
    text-decoration: none;
}

.pbar {
    background: #fffbfb;
    width: 200px;
    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(181, 179, 181, 1);
    -moz-box-shadow: inset 0px 0px 5px 2px rgba(181, 179, 181, 1);
    box-shadow: inset 0px 0px 5px 2px rgba(181, 179, 181, 1);
    padding: 1px;
}

.pbar .bar {
    background: #ffc107;
    padding: 9px;
}

.pbar .bar.five {
    width: 80px;
}

.pbar .bar.four {
    width: 60px;
}

.pbar .bar.three {
    width: 40px;
}

.pbar .bar.two {
    width: 30px;
}

.pbar .bar.one {
    width: 3px;
}
.review .small-img{
    border-radius: 0px;
}
.review .small-img img{
    border-radius: 0px;
}
#reply1 .form-control, #reply2 .form-control, #reply3 .form-control, #reply4 .form-control{
	font-size: 13px;
	width: 70%;
	display: inline-block;
}
#reply1 .btn, #reply2 .btn, #reply3 .btn, #reply4 .btn{
	font-size: 13px;
}


/*********************** REVIEW CSS ENDS ************************/

@media(min-width: 1200px) and (max-width: 1366px){
	.also-viewed .prod-box .txt h6{
		font-size: 14px;
	}
}
@media(max-width: 767px){
	#reply1 .form-control, #reply2 .form-control, #reply3 .form-control, #reply4 .form-control{
		width: 55%;
	}
}

/*********** PRODUCT-DETAILS PAGE CSS ENDS ***********/



.box-icon-classic {
   text-align: center
}

.box-icon-classic-svg,
.box-icon-classic-icon {
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background: #fff;
   box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .06);
   animation: iconClassic 20s ease-in-out infinite
}

.box-icon-classic-icon {
   display: inline-block;
   text-align: center;
   font-size: 24px;
   line-height: 60px;
   color: #151515
}

.box-icon-classic-svg {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 0;
   line-height: 0
}

.box-icon-classic-svg svg {
   max-width: 40px;
   fill: #151515;
   animation: iconSvgClassic 20s ease-in-out infinite
}
.unit {
   display: flex;
   flex: 0 1 100%;
   margin-bottom: -10px;
   margin-left: -10px
}

.unit>* {
   margin-bottom: 10px;
   margin-left: 10px
}

.unit:empty {
   margin-bottom: 0;
   margin-left: 0
}

.unit-body {
   flex: 0 1 auto
}

.unit-left,
.unit-right {
   flex: 0 0 auto;
   max-width: 100%
}

.unit-spacing-0 {
   margin-bottom: 0;
   margin-left: 0
}

.unit-spacing-0>* {
   margin-bottom: 0;
   margin-left: 0
}

.unit-spacing-xs {
   margin-bottom: -20px;
   margin-left: -15px
}

.unit-spacing-xs>* {
   margin-bottom: 20px;
   margin-left: 15px
}

.unit-spacing-sm {
   margin-bottom: -10px;
   margin-left: -20px
}

.unit-spacing-sm>* {
   margin-bottom: 10px;
   margin-left: 20px
}

.unit-spacing-md {
   margin-bottom: -20px;
   margin-left: -25px
}

.unit-spacing-md>* {
   margin-bottom: 20px;
   margin-left: 25px
}

.unit-spacing-lg {
   margin-bottom: -20px;
   margin-left: -30px
}

.unit-spacing-lg>* {
   margin-bottom: 20px;
   margin-left: 30px
}

.unit-spacing-xl {
   margin-bottom: -30px;
   margin-left: -40px
}

.unit-spacing-xl>* {
   margin-bottom: 30px;
   margin-left: 40px
}
.box-icon-classic-title {
   font-weight: 600
}

.box-icon-classic-title a,
.box-icon-classic-title a:focus,
.box-icon-classic-title a:active {
   color: #fff;
}

.box-icon-classic-text {
   letter-spacing: .025em
}

.box-icon-classic-count {
   font-size: 60px;
   font-family: poppins, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
   font-weight: 600;
   color: #fff;
   opacity: 0.5;
   line-height: 1
}

*+.box-icon-classic-text {
   margin-top: 6px;
   color: #fff;
}

.news .buttn{
   margin-top: 30px;
   float: left;
   margin-left: 47px;
   color: #151515;
    background-color: #338dc2;
    border-color: #338dc2;
    padding: 5px 15px;
    border-radius: 8px;
}
.news .buttn .btn{
   color: #fff;
}
.news .buttn:hover{
   border: 1px solid #338dc2;
   background: #fff;
}
.news .buttn:hover .btn{
   color: #338dc2;
}
.news .txt h2{
   font-size: 32px;
   text-align: left;
}
.news .txt p{
   text-align: left;
}
@media(max-width: 767px){
	*+.box-icon-classic-text{
		font-size: 14px;
	}
}
/*--------------------------------------------*/
/*  9. Service Area
/*--------------------------------------------*/
.service-area {
    padding: 40px 0px;
}
.service-area .service-section {
    /*border-bottom: 1px solid #ebebeb;*/
    /*border-top: 1px solid #ebebeb;*/
    /*padding: 60px 0;*/
    text-align: center;
    clear: both;
    overflow: hidden;
}
.service-area .service-item {
    display: inline-block;
    padding-left: 60px;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
}
.service-area .service-item i {
    font-size: 0;
    left: 0;
    position: absolute;
    top: 10px;
}
.service-area .service-item i::before {
    font-size: 40px;
}
.service-area .service-item h4 {
    color: #545454;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 12px;
}
.service-area .service-item p {
    color: #afafaf;
    font-size: 11px;
}

@media(min-width:768px) {
   .box-icon-classic {
      text-align: left
   }
   .box-icon-classic-icon,
   .box-icon-classic-svg {
      height: 70px;
      width: 70px
   }
   .box-icon-classic-icon {
      font-size: 30px;
      line-height: 70px
   }
   .box-icon-classic-svg svg {
      max-width: 46px
   }
   *+.box-icon-classic-text {
      margin-top: 10px
   }

}

@media(min-width:992px) {
   .box-icon-classic-icon,
   .box-icon-classic-svg {
      height: 90px;
      width: 90px
   }
   .box-icon-classic-icon {
      font-size: 40px;
      line-height: 90px
   }
   .box-icon-classic-svg svg {
      max-width: none
   }
   *+.box-icon-classic-text {
      margin-top: 14px
   }
}

@media(min-width:1200px) {
   .box-icon-classic-title {
      margin-top: 4px
   }
}

@media(min-width:992px) {
   .bordered-2>div+div>* {
      padding-top: 50px;
      border-top: 1px solid #e1e1e1
   }
}


@media(min-width: 768px) and (max-width: 991px){
   .news .lft-img{
      max-width: 350px;
   }
   .bt{
      top: 230px !important;
      left: 50% !important;
      transform: translate(-50%,0%) !important;
   }
   .bt1{
      top: 470px !important;
      left: 50% !important;
      transform: translate(-50%,0%) !important;
   }
}
@media(max-width: 767px){
   .dropdown-item{
   padding: 1.25rem 1.5rem;
}
.dropdown{
   float: right;margin-right: 20px;
}
.news .lft-img img{
   max-width: 250px;
}
.news .buttn{
   margin-top: 30px;
   margin-left: 51px;
}
.service-area .service-item i{
   	top: -5px;
   }
}	



/************************ CART-PAGE CSS STARTS ************************/

	/************** CART-MAIN CSS STARTS **************/
		.cart-main .top-box, .cart-main .cart-item{
			border-bottom: 1px solid #e2e2e2;
		}
		.cart-main .cart-item{
			padding-bottom: 20px;
		}
		.cart-main .head h5{
			font-weight: 600;
			font-size: 22px;
		}
		.cart-main .cart-item .prod img{
			width: 100%;
			height: 150px;
		}
		.cart-main .cart-item .detail h6{
			font-size: 15px;
			font-weight: 600;
			margin-bottom: 10px;
			color:#0066b2;
		}
		.cart-main .cart-item .detail p{
			margin-bottom: 0px;
			font-size: 14px;
		}
		.cart-main .cart-item .form-control{
			width: 50px;
			text-align: center;
		}
		.cart-main .cart-item .btn-inc{
			border: 1px solid #e2e2e2e2;
			background: unset;
	    	padding: 6px 12px;
    		border-radius: 5px;
		}
		.cart-main .cart-item .price del{
			color: red;
			font-weight: 600;
			font-size: 18px;
		}
		.cart-main .cart-item .price{
			font-size: 14px;
		}
		.cart-main .cart-item .detail span{
			font-size: 13px;
		}
		.cart-main .cart-item .delete{
			position: absolute;
			bottom: 0px;
		}
		.cart-main .cart-item .delete a{
			color: #0066C0;
			font-size: 14px;
		}
		.cart-main .save-button .btn{
			background: unset;
			border: 1px solid #0066b2;
		}
		.cart-main .save-button .btn span{
			color: #0066C0;
		}
		.cart-main .subtotal p{
			font-weight: 600;
			font-size: 18px;
		}
		.cart-main .subtotal p span{
			color: #b12704;
		}
		.cart-main .subtotal .disclaimer{
			font-weight: 400;
			font-size: 14px;
		}
		.cart-main .total-box{
			padding: 15px;
			background: #f3f3f3;
			border-radius: 8px;
			border: 1px solid #bfbfbf;
		}
		.cart-main .total-box p{
			font-weight: 600;
			font-size: 18px;
		}
		.cart-main .total-box p span{
			color: #b12704;
		}
		.total-box .button{
		   	background: #f4d078;
		    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
		    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
		    border:1px solid #8D9096;
		    border-radius: 3px;
		}
		.total-box .button button{
			background: unset;
			border: unset;
			width: 100%;
			padding: 8px 15px;
			font-weight: 500;
		 }
		 .hd-more-prod h5{
		 	font-size: 22px;
		 }
		.prod-box{
			padding-bottom: 20px;
			border-bottom: 4px solid #e5e5e5;
		}
		.prod-box:hover .txt h6{
			color: #0066b2;
		}
		.prod-box .img img{
			width: 100%;
			height: 320px;
		}
		.prod-box .txt .rating i{
			color: #ffce00;
			font-size: 16px;
		}
		.prod-box .txt .rating span{
			color: #0066c0;
			font-size: 14px;
		}
		.prod-box .txt h6{
			font-weight: 600;
			font-size: 15px;
			color: #3b3b3b;
		}
		.prod-box .txt .price del{
			color: red;
			font-size: 18px;
			font-weight: 600;
		}
		.prod-box .txt .price{
			font-size: 14px;
			font-weight: 600;
		}
		.prod-box .txt .cupon span{
			background: #7fda69;
			padding: 2px 8px;
		}
		.prod-box .txt .cupon{
			font-size: 14px;
		}
		@media(max-width: 991px){
			.cart-main .save-button .btn{
				font-size: 12px;
				padding: 5px 5px;
			}
			.cart-main .cart-item .delete{
				bottom: unset;
				position: unset;
			}
			.cart-main .cart-item .price{
				font-size: 12px;
			}
			.cart-main .cart-item .price del{
				font-size: 14px;
			}
		}
		@media(max-width: 767px){
			.cart-main .cart-item .detail h6{
				font-size: 15px;
			}
			.cart-main .cart-item .detail p{
				font-size: 12px;
			}
			.cart-main .subtotal .disclaimer{
				font-size: 12px;
			}
			.cart-main .subtotal p{
				font-size: 14px;
			}
			.cart-main .cart-item .btn-inc{
				padding: 6px 8px;
			}
			.prod-box .img img{
				height: 220px;
			}
			.cart-main .cart-item .prod img{
				height: 100px;
			}
		}
	/*************** CART-MAIN CSS ENDS ***************/

/************************* CART-PAGE CSS ENDS *************************/



/*********************** POLICY-PAGE CSS STARTS ***********************/

	/************* POLICY-MAIN CSS STARTS *************/

		.policy-main .txt{
			font-size: 14px;
		}
		.policy-main img{
			max-width: 100px;
		}

	/************** POLICY-MAIN CSS ENDS **************/

/************************ POLICY-PAGE CSS ENDS ************************/


/******************** GROUP-COMPANY-PAGE CSS STARTS ********************/

	/********** GROUP-COMPANY-MAIN CSS STARTS **********/
		
		.group-comapny-main{
			border-bottom: 1px solid #e2e2e2;
		}
		.group-comapny-main p{
			font-size: 14px;
			text-align: justify;
		}

	/*********** GROUP-COMPANY-MAIN CSS ENDS ***********/


	/************* VISION-MAIN CSS STARTS **************/
		
		.vision-main p{
			font-size: 14px;
		}
		.vision-main ul li{
			font-size: 14px;
			margin:10px 0px;
		}
		.vision-main img{
			max-width: 135px;
		}
		@media(max-width: 767px){
			.vision-main img{
				max-width: 125px;
			}
		}

	/************** VISION-MIAN CSS ENDS ***************/

/********************* GROUP-COMPANY-PAGE CSS ENDS *********************/



/********************** CHECKOUT PAGE CSS STARTS **********************/

	/************ CHECKOUT-MAIN CSS STARTS ************/
		
		.checkout-main .heading h4{
			font-size: 20px;
		}
		.checkout-main .top-bar p, 
		.cart-main .top-bar p, 
		.manage-address-main .top-bar p,
		.place-order-main .top-bar p,
		.order-sucesful .top-bar p{
			font-size: 12px;
			text-align: center;
			position: relative;
		}
		.checkout-main .top-bar p:before, 
		.cart-main .top-bar p:before, 
		.manage-address-main .top-bar p:before,
		.place-order-main .top-bar p:before,
		.order-sucesful .top-bar p:before{
			position: absolute;
			content: '';
			border-top: 1px solid #e2e2e2;
			height: 1px;
			width: 100%;
			left: 0px;
			top: -10px;
		}
		.checkout-main .top-bar.active p, 
		.cart-main .top-bar.active p, 
		.manage-address-main .top-bar.active p,
		.place-order-main .top-bar.active p,
		.order-sucesful .top-bar.active p{
			color: #0066b2;
			font-weight: 600;
		}
		.checkout-main .top-bar.active p:before, 
		.cart-main .top-bar.active p:before, 
		.manage-address-main .top-bar.active p:before,
		.place-order-main .top-bar.active p:before,
		.order-sucesful .top-bar.active p:before{
			border-top: 1px solid #0066b2;
		}
		.checkout-main .top-bar p:after, 
		.cart-main .top-bar p:after, 
		.manage-address-main .top-bar p:after,
		.place-order-main .top-bar p:after,
		.order-sucesful .top-bar p:after{
			position: absolute;
			content: '';
			background-image: url('../images/cart-top-black.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 20px;
			width: 20px;
			top: -20px;
			left: 50%;
			transform: translate(-50%,0%);
			z-index: 1;
		}
		.checkout-main .top-bar.dlvry p:after, 
		.cart-main .top-bar.dlvry p:after, 
		.manage-address-main .top-bar.dlvry p:after,
		.place-order-main .top-bar.dlvry p:after,
		.order-sucesful .top-bar.dlvry  p:after{
			background-image: url('../images/wallet-black.png');
		}
		.checkout-main .top-bar.dlvry.active.img p:after, 
		.cart-main .top-bar.dlvry.active.img p:after, 
		.manage-address-main .top-bar.dlvry.active.img p:after,
		.place-order-main .top-bar.dlvry.active.img p:after,
		.order-sucesful .top-bar.dlvry.active.img p:after{
			background-image: url('../images/wallet.png');
		}
		.checkout-main .top-bar.po p:after, 
		.cart-main .top-bar.po p:after, 
		.manage-address-main .top-bar.po p:after,
		.place-order-main .top-bar.po p:after,
		.order-sucesful .top-bar.po  p:after{
			background-image: url('../images/box-black.png');
		}
		.checkout-main .top-bar.po.active.img p:after, 
		.cart-main .top-bar.po.active.img p:after, 
		.manage-address-main .top-bar.po.active.img p:after,
		.place-order-main .top-bar.po.active.img p:after,
		.order-sucesful .top-bar.po.active.img p:after{
			background-image: url('../images/box.png');
		}
		.checkout-main .top-bar.scs p:after, 
		.cart-main .top-bar.scs p:after, 
		.manage-address-main .top-bar.scs p:after,
		.place-order-main .top-bar.scs p:after,
		.order-sucesful .top-bar.scs  p:after{
			background-image: url('../images/checked-black.png');
		}
		.checkout-main .top-bar.scs.active.img p:after, 
		.cart-main .top-bar.scs.active.img p:after, 
		.manage-address-main .top-bar.scs.active.img p:after,
		.place-order-main .top-bar.scs.active.img p:after,
		.order-sucesful .top-bar.scs.active.img p:after{
			background-image: url('../images/checked.png');
		}
		.checkout-main .top-bar.active.img p:after, 
		.cart-main .top-bar.active.img p:after, 
		.manage-address-main .top-bar.active.img p:after,
		.place-order-main .top-bar.active.img p:after,
		.order-sucesful .top-bar.active.img p:after{
			position: absolute;
			content: '';
			background-image: url('../images/cart-top.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 20px;
			width: 20px;
			top: -20px;
			left: 50%;
			transform: translate(-50%,0%);
		}
		.checkout-main .icon-chk{
			max-height: 20px;
		}
		.checkout-main .methods{
			border: 1px solid #e2e2e2;
			padding: 15px;
			border-radius: 5px;
		}
		.checkout-main .methods h5{
			border-bottom: 1px solid #e2e2e2;
			font-size: 14px;
		}
		.checkout-main .methods p{
			font-size: 15px;
			position: relative;
		}
		.checkout-main .methods span{
			font-size: 12px;
		}
		.checkout-main .total-box{
			padding: 15px;
			background: #f3f3f3;
			border-radius: 8px;
			border: 1px solid #bfbfbf;
		}
		.checkout-main .total-box p{
			font-weight: 600;
			font-size: 16px;
			position: relative;
		}
		.checkout-main .total-box p span{
			color: #b12704;
		}
		.checkout-main .total-box .button{
		   	background: #f4d078;
		    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
		    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
		    border:1px solid #8D9096;
		    border-radius: 3px;
		}
		.checkout-main .total-box .button button{
			background: unset;
			border: unset;
			width: 100%;
			padding: 8px 15px;
			font-weight: 500;
		 }
		.checkout-main .methods p.bb:after{
		 	position: absolute;
		 	content: '';
		 	border-bottom: 1px solid #e2e2e2;
		 	width: 100%;
		 	left: 0px;
		 	bottom: -32px;
		 }
		 @media(max-width: 767px){
		 	.checkout-main .methods p.bb:after{
		 		display: none;
		 	}
		 }

	/************* CHECKOUT-MAIN CSS ENDS *************/

/*********************** CHECKOUT-PAGE CSS ENDS ***********************/


/******************* MANAGE-ADDRESS-MAIN CSS STARTS *******************/

	.manage-address-main .heading{
		border-bottom: 1px solid #e2e2e2;
	}
	.manage-address-main .heading h5{
		font-weight: 500;
		font-size: 30px;
	}
	.manage-address-main .heading p{
		font-size: 14px;
	}
	.manage-address-main .address-box h6{
		font-weight: 600;
		font-size: 18px;
	}
	.manage-address-main .address-box p{
		font-size: 14px;
		margin-bottom: 0px;
	}
	.manage-address-main .address-box button{
		background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    width: 100%;
	    padding: 5px 15px;
		font-weight: 500;
	}
	.new-address .line-top{
	    background: -moz-linear-gradient(top,#ddd,#f7f7f7 3px,white);
	    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ddd),color-stop(3px,#f7f7f7),color-stop(100%,white));
	    background: -webkit-linear-gradient(top,#ddd,#f7f7f7 3px,white);
	    background: -o-linear-gradient(top,#ddd,#f7f7f7 3px,white);
	    background: -ms-linear-gradient(top,#ddd,#f7f7f7 3px,white);
	    background: linear-gradient(top,#ddd,#f7f7f7 3px,white);
	    filter: none;
	    z-index: 0;
	    zoom: 1;
	    width: 100%;
	    height: 44px;
	}
	.new-address label{
		font-weight: 600;
		font-size: 14px;
	}
	.new-address .form-control{
		height: 30px;
		border-top: 2px solid #e2e2e2;
	}
	.new-address button{
		background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    padding: 5px 15px;
		font-weight: 500;
	}

/******************** MANAGE-ADDRESS-MAIN CSS ENDS ********************/




/******************** PLACE-ORDER-PAGE CSS STARTS ********************/

	.place-order-main .heading h5{
		font-size: 20px;
	}
	.place-order-main .heading span{
		font-size: 10px;
	}
	.place-order-main .heading span a{
		color: #007bff;
	}
	.place-order-main .address-box, .place-order-main .product-box{
		border: 1px solid #e2e2e2;
		border-radius: 5px;
		padding: 15px;
	}
	.place-order-main .address-box h6, .place-order-main .product-box .product .txt h6{
		font-weight: 600;
	}
	.place-order-main .address-box p{
		font-size: 14px;
		line-height: 1.6;
	}
	.place-order-main .product-box .product .prod-img img{
		max-width: 150px;
	}
	.place-order-main .product-box .product .txt p{
		font-size: 14px;
	}
	.place-order-main .product-box .product .txt .price del{
		color: red;
		font-size: 15px;
	}
	.place-order-main .product-box .product .txt .stock{
		color:green;
		font-size: 13px;
	}
	.place-order-main .product-box .product .txt span{
		color: #bfbfbf;
		font-size: 13px;
	}
	.place-order-main .total-box{
		border: 1px solid #e2e2e2;
		padding: 15px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.place-order-main .total-box button{
		background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    padding: 5px 0px;
	    font-size: 14px;
		font-weight: 500;
		width: 100%;
	}
	.place-order-main .total-box span{
		color: #bfbfbf;
		font-size: 13px;
		line-height: 1;
	}
	.place-order-main .total-box .order-summary h6{
		font-size: 15px;
		font-weight: 600;
	}
	.place-order-main .total-box .order-summary p{
		font-size: 13px;
	}
	.place-order-main .total-box .order-summary .total{
		color: maroon;
		font-weight: 600;
		font-size: 18px;
	}
	.place-order-main .savings{
		border: 1px solid #e2e2e2;
		padding: 15px;
		background: #f1f1f1;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.place-order-main .savings h6, .place-order-main .savings p{
		font-size: 14px;
	}

/********************* PLACE-ORDER-PAGE CSS ENDS *********************/




/********************* WISHLIST-PAGE CSS STARTS *********************/

	.wishlist-main .heading{
		border-bottom: 1px solid #e2e2e2;
	}
	.wishlist-main .list-item-wish{
		border-bottom: 1px solid #e2e2e2;
		padding-bottom: 20px;
	}
	.wishlist-main .list-item-wish .prod-img img{
		max-width: 150px;
	}
	.wishlist-main .list-item-wish .txt h6{
		font-weight: 600;
	}
	.wishlist-main .list-item-wish .txt p{
		font-size: 14px;
	}
	.wishlist-main .list-item-wish .txt a{
		font-size: 14px;
		color: #007bff;
	}
	.star i{
		color: #ffce00;
		font-size: 16px;
	}
	.wishlist-main .list-item-wish .txt .price{
		font-size: 18px;
		font-weight: 600;
	}
	.wishlist-main .list-item-wish .text p{
		font-size: 12px;
	}
	.wishlist-main .list-item-wish .text button{
		background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    padding: 5px 0px;
	    font-size: 14px;
		font-weight: 500;
		width: 100%;
	}
	
	@media(max-width: 767px){
		.wishlist-main .list-item-wish .prod-img img{
			max-width: 85px;
		}
		.wishlist-main .list-item-wish .txt p{
			font-size: 11px;
		}
		.wishlist-main .list-item-wish .txt .price{
			font-size: 15px;
		}
	}
/********************** WISHLIST-PAGE CSS ENDS **********************/


/**************************MY ORDERS PAGE CSS STARTS**************************/

/*********** MY-ORDERS-MAIN CSS STARTS ***********/
        .myorders {
            border-top: 1px solid #d2a11d;
            border-bottom: 1px solid #d2a11d;
        }
        .myorders  .txt-box{
            /*background-color: rgba(251, 251, 251, 0.7);*/
/*            -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);*/
        }
        .myorders  .txt-box .hd h4{
            /*background-color: rgba(15, 179, 240, 0.90);*/
            color: #212121;
            font-size: 18px;
            padding: 10px 15px;
            border-bottom: 2px solid #d2a11d;
        }
        .myorders  .txt-box .account-orders{
            padding: 15px 15px 15px 15px;
        }
        .myorders  .txt-box .account-orders table{
            border: 1px solid #d9d9d9;
            /*-webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);*/
            border-radius: 5px;
        }
        .myorders  .txt-box .account-orders table thead{
            background-color: #f5f5f5;
        }
        .myorders  .txt-box .account-orders table th, .myorders .txt-box .account-orders table td{
            vertical-align: middle;
        }
        .myorders  .txt-box .account-orders table th p{
            font-size: 14px;
            font-family: 'Futura PT Book', sans-serif;
        }
        .myorders  .txt-box .account-orders table td h6{
            color: #212121;
            font-size: 14px;
            font-weight: 600;
        }
        .myorders  .txt-box .account-orders table td p{
            font-size: 14px;
            color: #595959;
        }
        .myorders  .txt-box .account-orders table td .btn {
            margin: 8px 0px;
            display: block;
            padding: 3px 15px;
            color: #212121;
        }
        .myorders  .txt-box .account-orders table td .btn-edit{
            background-color: #cccccc;
            color: #002c4d;
            text-transform: uppercase;
            font-size: 14px;
            padding: 3px 15px;
            font-weight: 500;
        }
        .myorders  .total-info .btn.btn-trk{
            background-color: #002c4d;
            color: #fff !important;
            font-size: 14px;
        }
        .myorders  .txt-box .account-orders table .order-info{
            width: 40%;
        }
        .myorders  .txt-box .account-orders table .delivery-info{
            width: 30%;
        }
        .myorders  .txt-box .account-orders table .total-info{
            width: 30%;
        }
        @media(max-width: 991px){
            .myorders  .txt-box .account-orders table .order-info{
                min-width: 350px;
                width: unset;
            }
            .myorders  .txt-box .account-orders table .delivery-info{
                min-width: 250px;
                width: unset;
            }
            .myorders  .txt-box .account-orders table .total-info{
                width: unset;
                min-width: 200px;
            }
        }
    /************ MY-ORDERS-MAIN CSS ENDS ************/

/***************************MY ORDERS PAGE CSS ENDS***************************/

/************************ORDER-DETAILS PAGE CSS STARTS************************/

	/********* order-details CSS STARTS *********/
		.order-details .hd h4{
			font-size: 20px;
		}
		.order-details .hd p{
			font-size: 12px;
			margin-top: 15px;
		}
		.order-details .address-box{
			border: 1px solid #e2e2e2;
			padding: 15px;
			border-radius: 5px;
		}
    	.order-details .address-box p{
    		font-size: 13px;
    		font-weight: 500;
    	}    
    	.order-details .address-box h6{
    		font-weight: 600;
    		margin-bottom: 10px;
    	}
    	.order-details .deliver-box{
    		border: 1px solid #e2e2e2;
    		padding: 15px;
    		border-radius: 5px;
    	}
    	.order-details .deliver-box h6{
    		font-weight: 600;
    		font-size: 20px;
    	}
    	.order-details .deliver-box p{
    		font-size: 12px;
    	}
    	.order-details .deliver-box .txt p{
    		font-size: 14px;
    	}
    	.order-details .deliver-box .txt .sold-by{
    		font-size: 12px;
    	}
    	.order-details .deliver-box .txt .price{
    		font-size: 18px;
    	}
    	.order-details .deliver-box button{
    		padding: 3px 15px; width: 100%; text-transform: capitalize; font-size: 14px;
    	}
    /********** order-details CSS ENDS **********/


/*************************ORDER-DETAILS PAGE CSS ENDS*************************/




/************************ TRACK ORDER-PAGE CSS STARTS ************************/

	.track-order-main .order-stat{
		position: relative;
	}
	.track-order-main .order-stat:after{
		position: absolute;
		content: '';
		border:3px solid #bfbfbf;
		height: 20px;
		width: 20px;
		top: 5px;
		left: -30px;
	}
	.track-order-main .order-stat:before{
		position: absolute;
		content: '';
		border-left: 3px dashed #bfbfbf;
		left: -22px;
		top: 25px;
		height: 205%;
		width: 3px;
	}
	.track-order-main .order-stat.last:before{
		display: none;
	}
	.track-order-main .order-stat i{
		display: none;
	}
	.track-order-main .order-stat.active:after{
		position: absolute;
		content: '';
		border:3px solid #23a62f;
		background: rgba(35, 166, 47, 0.72);
		height: 20px;
		width: 20px;
		top: 5px;
		left: -30px;
		color: #fff;
	}
	.track-order-main .order-stat.active:before{
		position: absolute;
		content: '';
		border-left: 3px dashed #23a62f;
		left: -22px;
		top: 25px;
		height: 205%;
		width: 3px;
	}
	.track-order-main .order-stat.active i{
	    display: block;
	    position: absolute;
	    left: -27px;
	    top: 8px;
	    z-index: 1;
	    font-size: 13px;
	    color: #fff;
	}
	.track-order-main .order-stat p{
		font-size: 16px;
		font-weight: 600;
	}
	.track-order-main .heading h3{
		font-size: 26px;
		font-weight: 700;
	}
	.track-order-main .img img{
		height: 440px;
	    width: 100%;
	    object-fit: cover;
	}
	.track-order-main .address-box, .track-order-main .tracking-box{
		border: 2px solid #e2e2e2;
		padding: 18px;
	}
	.track-order-main .address-box h6, .track-order-main .tracking-box h6{
		font-weight: 600;
	}
	.track-order-main .address-box p{
		font-size: 14px;
	}
	.track-order-main .tracking-box a{
		color: #007bff;
	}
	.track-order-main .tracking-box .id a{
		color: green;
		font-weight: 600;
	}
	@media(max-width: 767px){
		.track-order-main .tracking-box a{
			font-size: 13px;
		}
	}

/************************* TRACK-ORDER-PAGE CSS ENDS *************************/



/*************************** LOGIN-PAGE CSS STARTS ***************************/

	.login-main .logo img{
		max-width: 150px;
	}
	.login-main .login-box{
		border:1px solid #e2e2e2;
		padding: 15px;
		border-radius: 5px;
	}
	.login-main .login-box .heading h6{
		font-size: 25px;
	}
	.login-main .login-box form label{
		font-weight: 600;
		font-size: 14px;
	}
	.login-main .login-box form .form-control{
		height: 35px;
		border-top: 2px solid #e2e2e2;
	}
	.login-main .login-box form button{
		background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    padding: 5px 0px;
	    font-size: 14px;
		font-weight: 500;
		width: 100%;
	}
	.login-main .login-box form p{
		font-size: 13px;
	}
	.login-main .login-box form p a{
		color: #007bff;
	}
	.login-main .login-box span{
		font-size: 12px;
		font-style: italic;
	}
	.login-main .login-box span i{
		color: red;
		font-style: italic;
	}
	.login-main .new-text p{
		color: #bfbfbf;
		font-size: 12px;
		position: relative;
	}
	.login-main .new-text p:before, .login-main .new-text p:after{
		position: absolute;
		content: '';
		border-bottom: 1px solid #bfbfbf;
		width:28%;
		top: 50%;
		transform: translate(0%,-50%);
	}
	.login-main .new-text p:before{
		left: 0px;
	}
	.login-main .new-text p:after{
		right: 0px;
	}
	.login-main .new-text button{
		width: 100%;
		padding: 5px 0px;
		width: 100%;
		font-size: 14px;
	}
	@media(max-width: 767px){
		.login-main .logo img{
			max-width: 260px;
		}
	}

/**************************** LOGIN-PAGE CSS ENDS ****************************/



/************************CONTAC-PAGE CSS STARTS************************/

.faq .heading h6{
    font-size: 22px;
    font-weight: 600;
    font-family: 'oswald', sans-serif;
}
.faq .accordion .card .card-header{
    padding: 2px;
    position: relative;
}

.faq .accordion .card .card-header h5 button{
    color: #212121;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    font-size: 14px;
}
.faq .accordion .card .card-header h5 button:after{
    position: absolute;
    content: '\f078';
    font-family: 'FontAwesome';
    left: 566px;    
    top: 50%;
    transform: translate(0%,-50%);
    height: 20px;
    width: 20px;
}
.faq .card-header{
    /*background: #0d84ea7d;*/
}
.faq .card-body{
    font-size: 13px;
}
.contact-main .side-img {
    position: relative;
}

.contact-main .side-img:after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.76);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.contact-main .side-img img {
    height: 805px;
    object-fit: cover;
}

.contact-main .ovr-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-main .ovr-txt h6,
.contact-main .ovr-txt p,
.contact-main .ovr-txt a {
    color: #fff;
    text-decoration: none;
}

.contact-main .hding h6 {
    font-size: 18px;
    position: relative;
}

.contact-main .hding h6:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #212121;
    height: 1px;
    width: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: -5px;
}

.contact-main .contact-form .txt {
    border: 1px solid #c8c8c8;
    padding: 10px 8px;
}

.contact-main .contact-form .input .form-control {
    border: 1px solid #c8c8c8;
    border-radius: 0px;
}
@media(max-width: 1199px){
	.faq .accordion .card .card-header h5 button:after{
		left: 880px;
	}
}

/****************************CONTACT-PAGE CSS ENDS****************************/


/************************ RETURN-POLICY-PAGE CSS STARTS ************************/


/*.return-policy-main{
		background-image: url('../images/parallax.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: fixed;
		padding: 48px 0px 150px 0px;
	}*/

.return-policy-main .heading h5 {
    color: #0bb2f0;
    font-size: 30px;
    text-shadow: 0px 1px 1px #a1a1a1;
}

.return-policy-main .heading p {
    text-shadow: 0px 1px 1px #a1a1a1;
}

.return-policy-main .txt p {
    font-size: 15px;
    text-shadow: 0px 1px 1px #a1a1a1;
}

@media(max-width: 767px){
	.return-policy-main .txt p {
		font-size: 14px;
		text-align: justify;
	}
}

/************************* RETURN-POLICY-PAGE CSS ENDS ************************/


/************************ PRIVACY-POLICY-PAGE CSS STARTS ***********************/


/***** SECTION PRIVACY-POLICY-MAIN CSS STARTS ****/

.privacy-policy-main {
    border-bottom: 1px solid #d2a11d;
}

.privacy-policy-main .hdng {
    background-color: #000;
    border-bottom: 2px solid #0bb2f0;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
}

.privacy-policy-main .hdng h4 {
    color: #fff;
    font-size: 20px;
}

.privacy-policy-main .txt p {
    line-height: 24px;
    text-align: justify;
    color: #333;
    text-shadow: 1px 1px 1px #f1f1f1;
    word-spacing: 1px;
    font-size: 14px;
}

.privacy-policy-main .txt p a {
    color: blue;
    text-decoration: unset;
}

.privacy-policy-main .txt li {
    margin: 5px 0px;
}

.privacy-policy-main .txt .hd {
    background-color: #000;
    border-bottom: 2px solid #0bb2f0;
    padding: 10px 15px;
    -webkit-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
}

.privacy-policy-main .txt .hd h6 {
    color: #fff;
    font-weight: 400;
}

.privacy-policy-main .txt h6 {
    color: #0bb2f0;
}

@media(max-width: 767px) {
    .privacy-policy-main .txt p {
        text-align: left;
    }
}


/****** SECTION PRIVACY-POLICY-MAIN CSS ENDS *****/


/************************* PRIVACY-POLICY-PAGE CSS ENDS ************************/


/*********************** TERMS-CONDITIONS-PAGE CSS STARTS **********************/


/**** SECTION TERMS-CONDITIONS-MAIN CSS STARTS ***/

.terms-conditions-main {
    border-bottom: 1px solid #d2a11d;
}

.terms-conditions-main .hdng {
    background-color: #000;
    border-bottom: 2px solid #0bb2f0;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
}

.terms-conditions-main .hdng h4 {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

.terms-conditions-main .txt p {
    line-height: 24px;
    text-align: justify;
    color: #333;
    font-weight: 500;
    text-shadow: 1px 1px 1px #f1f1f1;
    word-spacing: 1px;
    font-size: 14px;
}

.terms-conditions-main .txt p a {
    color: blue;
    text-decoration: unset;
    font-weight: 500;
}

.terms-conditions-main .txt li {
    margin: 5px 0px;
}

.terms-conditions-main .txt .hd {
    background-color: #000;
    border-bottom: 2px solid #0bb2f0;
    padding: 10px 15px;
    -webkit-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -15px rgba(0, 0, 0, 0.75);
}

.terms-conditions-main .txt .hd h6 {
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}

.terms-conditions-main .txt h6 {
    color: #15b4f0;
    font-size: 16px;
    font-weight: 700;
}

@media(max-width: 767px) {
    .terms-conditions-main .txt p {
        text-align: justify;
    }
}


/***** SECTION TERMS-CONDITIONS-MAIN CSS ENDS ****/


/************************ TERMS-CONDITIONS-PAGE CSS ENDS ***********************/



/**************************** DEALER PAGE CSS STARTS ****************************/
	
	.dealer-main{
		/*background: #dbf3fe;*/
	}
	.dealer-main .heading h5{
		text-align: center;
	}
	.dealer-main .form-control{
		height: 35px;
	}
	.dealer-main label{
		font-weight: 600;
		font-size: 14px;
	}
	.notes h6{
		font-weight: 600;
		color: red;
		font-style: italic;
		font-size: 18px;
	}
	.notes ol li{
		font-size: 14px;
		margin: 8px 0px;
	}
	.dealer-main button{
		background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    padding: 5px 15px;
	    font-size: 14px;
		font-weight: 500;
	}
	.remove_field i{
		position: absolute;
		bottom: 35px;
		z-index: 111;
	}
	@media(max-width: 767px){
		.dealer-main button{
			width: unset;
			padding: 5px 15px;
		}
		.notes ol li{
			text-align: justify;
			font-size: 13px;
		}
	}

/***************************** DEALER PAGE CSS ENDS *****************************/


/********************* BLOG-MAIN CSS STARTS *********************/
	
	.blog-main{
		background-image: url('../images/blog-bg.jpg');
		/*background-image: url('../images/bg.png');*/
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
        padding: 30px 0px 48px 0px;
	}
  
    .blog-main .tag-top li{
        margin:  0px 7px;
    }
    .blog-main .tag-top li a{
        font-size: 13px;
        color: #000;
        text-decoration: none;
    }
	.blog-main aside{
		background: rgba(255,255,255,0.80);
		padding: 15px;
	}
	.blog-main aside .search{
        position: relative;
    }
    .blog-main aside .search a{
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);
        right: 10px;
        color: #212121;
    }
    .blog-main aside .popular-blogs ul{
        list-style: none;
    }
    .blog-main aside .popular-blogs ul li{
        padding: 8px 0px;
        font-size: 12px;
        position: relative;
    }
    .blog-main aside .popular-blogs ul li a{
        color: #212121;
        text-decoration: none;
    }
    .blog-main aside .popular-blogs ul li:after{
        position: absolute;
        content: '';
        border-bottom: 1px solid #e2e2e2;
        bottom: -1px;
        left: 0px;
        height: 1px;
        width: 100%;
    }
    .blog-main aside .popular-blogs ul li:last-child:after{
        border-bottom: none;
    }
    .blog-main aside .tags ul li{
        padding: 3px 4px;
	    background: rgba(15, 179, 240, 0.90);
	    border-radius: 5px;
	    font-size: 12px;

    }
    .blog-main aside .tags ul li a{
        color: #fff;
        text-decoration: none;
    }

    .blog-main .blog-content{
    	background: #fff;
    	border-radius: 5px;
    	-webkit-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
		-moz-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
		box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
    }
    .blog-main .blog-content img{
    	width: 100%;
    	border-top-right-radius: 5px;
    	border-top-left-radius: 5px;
    }
    .blog-main .blog-content .blog-img.hei1 img{
     	height: 150px;
     	object-fit: cover;
    }
    .blog-main .blog-content .blog-img.hei2 img{
        height: 200px;
        object-fit: cover;
    }
    .blog-main .blog-content .blog-img.hei3 img{
     	height: 235px;
     	object-fit: cover;
    }
    .blog-main .blog-content .txt{
    	padding: 15px;
    }
    .blog-main .blog-content .txt h6{
    	font-size: 18px;
    	font-weight: 600;
    }
    .blog-main .blog-content .txt p{
    	font-size: 14px;
    }
    .blog-main .blog-content .txt span{
    	color: #e28e8e;
    	font-size: 11px;
    }
    .blog-main .blog-content .txt .bottom span, .blog-main .blog-content .txt .bottom span a{
    	color: #bfbfbf;
    	font-size: 11px;
    	text-decoration: none;
    }

/********************** BLOG-MAIN CSS ENDS **********************/


/************************ BLOG-DETAILS PAGE CSS STARTS ************************/

    .blog-details .img img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    .blog-details .heading h6{
        font-weight: 600;
        font-family: 'oswald', sans-serif;
        font-size: 18px;
    }
    .blog-details .date p{
        font-size: 13px;
        color: #a09d9d;
    }
    .blog-details .txt p{
        font-size: 14px;
        text-align: justify;
        position: relative;
    }
    .blog-details .share{
        position: relative;
    }
    .blog-details .share:after{
        position: absolute;
        content: '';
        border-bottom: 1px solid #e2e2e2;
        width: 100%;
        height: 1px;
        bottom: -5px;
        left: 0px;
    }
    .blog-details .share ul li a{
        background: transparent;
        height: 40px;
        width: 40px;
        display: block;
        border-radius: 50%;
        position: relative;
        color: #fff;
    }
    .blog-details .share ul li a i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
    }
    .blog-details .share ul li:nth-child(1){
        background: #3b5998;
        border-radius: 50%;
    }
    .blog-details .share ul li:nth-child(2){
        background: #e95950;
        border-radius: 50%;
    } 
    .blog-details .share ul li:nth-child(3){
        background: #25d366;
        border-radius: 50%;
    } 
    .blog-details .img-cmts{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: block;
    }
    .blog-details .img-cmts img{
        border-radius: 50%;
    }
    .blog-details .comments-display .name{
        border: 1px solid #e2e2e2;
        border-radius: 8px;
        padding: 15px;
        margin-left: 16px;
        position: relative;
    }
    .blog-details .comments-display .name:before{
        position: absolute;
        content: '';
        background: #e2e2e2;
        border: 1px solid #e2e2e2;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        height: 20px;
        width: 20px;
        left: -20px;
        top: 50px;
        transform: rotate(-90deg);
    }
     .blog-details .comments-display .name p{
        font-size: 15px;
        font-weight: 600;
     }
     .blog-details .comments-display .name span{
        font-size: 13px;
        text-align: right;
     }
    .blog-details .comments-display .name p a{
        font-weight: 400;
        color: #969898;
        font-size: 14px;
        text-decoration: none;
    }
    .blog-details aside .search{
        position: relative;
    }
    .blog-details aside .search a{
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);
        right: 10px;
        color: #212121;
    }
    .blog-details aside .popular-blogs ul{
        list-style: none;
    }
    .blog-details aside .popular-blogs ul li{
        padding: 8px 0px;
        font-size: 13px;
        position: relative;
    }
    .blog-details button{
    	background: #f4d078;
	    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	    border:1px solid #8D9096;
	    border-radius: 3px;
	    padding: 5px 0px;
	    font-size: 14px;
		font-weight: 500;
		width: 15%;
		margin-top: 20px;
		color: #000;
    }
    .blog-details button:hover{
    	color: #000;
    }
    .blog-details aside .popular-blogs ul li a{
        color: #212121;
        text-decoration: none;
    }
    .blog-details aside .popular-blogs ul li:after{
        position: absolute;
        content: '';
        border-bottom: 1px solid #e2e2e2;
        bottom: -1px;
        left: 0px;
        height: 1px;
        width: 100%;
    }
    .blog-details aside .popular-blogs ul li:last-child:after{
        border-bottom: none;
    }
    .blog-details aside .tags ul li{
        padding: 5px 6px;
	    background: rgba(15, 179, 240, 0.90);
	    border-radius: 5px;
	    font-size: 11px;
    }
    .blog-details aside .tags ul li a{
        color: #fff;
        text-decoration: none;
    }

/************************* BLOG-DETIALS PAGE CSS ENDS *************************/



/*CERTIFICATION-PAGE CSS STARTS*/
	
	.certifications .img{
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	}

/*CERTIFICATIONS-PAGE CSS ENDS*/


/************ PROFILE-MAIN CSS STARTS ************/
		.profile-main{
			border-top: 1px solid #d2a11d;
			border-bottom: 1px solid #d2a11d;
		}
		.profile-main .txt-box{
			background-color: rgba(251, 251, 251, 0.7);
			-webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
		}
		.profile-main .txt-box .hd h4{
			background-color: #002c4d;
			color: #fff;
			font-size: 18px;
			padding: 10px 15px;
			border-bottom: 2px solid #d2a11d;
		}

		.profile-main .txt-box .txt-fields{
			padding: 15px 15px 30px 15px;
		}
		.profile-main .txt-box .image-box img{
			width: 90px;
			height: 90px;
			border-radius: 50%;
			object-fit: cover;
			object-position: top;
		}
		.profile-main .txt-box .image-box .file{
			font-size: 14px;
		}
		.profile-main .txt-box .form-group label{
			font-weight: 500;
		}
		.profile-main .txt-box .form-group .form-control{
			border-radius: 0px;
		}

		.profile-main .txt-box .btn{
			font-size: 14px;
			color: #fff;
			border-radius: 0px;
		}
		.profile-main .txt-box .btn.gray{
			background: #f4d078;
		    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
		    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
		    border:1px solid #8D9096;
		    border-radius: 3px;
		    padding: 5px 15px;
		    font-size: 14px;
			font-weight: 500;
			width: 15%;
			margin-top: 20px;
			color: #000;
		}
		.profile-main .txt-box .btn.gold{
			background: #f4d078;
		    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
		    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
		    border:1px solid #8D9096;
		    border-radius: 3px;
		    padding: 5px 15px;
		    font-size: 14px;
			font-weight: 500;
			margin-top: 20px;
			color: #000;
		}
		.profile-main .txt-box .btn{
			margin: 0px 6px;
		}
		@media(max-width: 575px){
			.profile-main .txt-box .btn{
				margin: 8px 10px;
			}
		}
	/************* PROFILE-MAIN CSS ENDS *************/

/**************************** PROFILE-PAGE CSS ENDS ****************************/

