<footer class="py-5 bg-grey">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3">
						<div class="hd">
							<h5 class="mb-3">York Cellulose</h5>
						</div>
						<p>Established in 2007, York Cellulose Pvt Ltd is one of the few Tissue Paper Manufacturers and India’s largest independent paper converters with manufacturing capacity of 6,000 tonnes per annum.</p>
					</div>
					<div class="col-xl-2 offset-xl-1 col-lg-3 col-md-4">
						<div class="hd">
							<h5 class="mb-3">Categories</h5>
						</div>
						<ul class="pl-0">
							<li><a href="products_listing.html">Tissue papers</a></li>
							<li><a href="products_listing.html">Napkins</a></li>
							<li><a href="products_listing.html">Towels/wipes</a></li>
							<li><a href="products_listing.html">Dispensers</a></li>
							<li><a href="products_listing.html">Toilet Rolls</a></li>
							<li><a href="products_listing.html">Center Feeds</a></li>
							<li><a href="products_listing.html">Kitchen Towels</a></li>
							<li><a href="products_listing.html">Hygiene Rolls</a></li>
						</ul>
					</div>
					<div class="col-xl-2 offset-xl-1 col-lg-3 col-md-4">
						<div class="hd">
							<h5 class="mb-3">Important Links</h5>
						</div>
						<ul class="pl-0">
							<li><a href="authenticity.html">Authenticity</a></li>
							<li><a href="certifications.html">Certification</a></li>
							<li><a href="privacy-policy.html">Privacy Policy</a></li>
							<li><a href="tc.html">Terms & Conditions</a></li>
							<li><a href="contactus.html">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-xl-2 offset-xl-1 col-lg-3 col-md-4">
						<div class="lft">
							<div class="hd">
								<h5 class="mb-3">Contact Us</h5>
							</div>
							<div class="txt">
								<p class="mb-2"><i class="fa fa-map-marker"></i>- &nbsp; 545-Model Town Yamuna Nagar Haryana - 135001 INDIA</p>
								<p class="mb-2"><i class="fa fa-phone"></i>&nbsp;- <a href="tel:+91 99966 93330">+91 99966 93330</a></p>
								<p><i class="fa fa-envelope"></i>&nbsp;-<a href="mailto: info@yorkcellulose.com"> info@yorkcellulose.com</a></p>
							</div>
							<div class="map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3450.539822563767!2d77.28724661496037!3d30.135978781849044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390efa2b2741a421%3A0xbb800275372a07ba!2s545%2C+Model+Town%2C+Yamuna+Nagar%2C+Haryana+135106!5e0!3m2!1sen!2sin!4v1564213390335!5m2!1sen!2sin" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="bottom bg-grey py-2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 my-auto">
						<div class="left-text">
							<p class="mb-0">&copy; Copyright-2019 York Cellulose Pvt. Ltd</p>
						</div>
					</div>
					<div class="col-md-6 my-auto">
						<div class="rght-text text-md-right">
							<p class="mb-0">Designed & Developed By <a href="https://thegirafe.com/" target="_blank"><img src="images/girafe_logo.png" class="img-fluid d-inline-block" alt=""></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>