<!-- HEADER STARTS -->
		<header id="navbar">
			<div class="top-most d-md-block d-none py-2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-10 offset-xl-2 col-lg-11 offset-lg-1">
							<ul class="pl-0 mb-0 text-capitalize text-right">
								<li class="d-inline-block wdth"><img src="images/shield.svg" class="img-fluid d-inline-block" alt=""><a href="authenticity.html" class="d-inline-block ml-2">Authentic Products</a></li>
								<li class="d-inline-block wdth1">
                  <img src="images/diploma.svg" class="img-fluid d-inline-block" alt="">
                  <a href="certifications.html" class="d-inline-block ml-2">Certifications</a></li>
                <li class="d-inline-block"><img src="images/delivery.svg" class="img-fluid d-inline-block" alt=""><a href="become_a_dealer.html" class="d-inline-block ml-2">Become a Distributor</a></li>
								<li class="d-inline-block"><img src="images/return.svg" class="img-fluid d-inline-block" alt=""><a href="return-policy.html" class="d-inline-block ml-2">14 Days Return</a></li>
                <li class="d-inline-block"><img src="images/tracking.svg" class="img-fluid d-inline-block" alt=""><a href="track-order.html" class="d-inline-block ml-2">Track Order</a></li>
								<li class="d-inline-block"><img src="images/contact-us.svg" class="img-fluid d-inline-block" alt=""><a href="contactus.html" class="d-inline-block ml-2">Contact Us</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom py-3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-2 col-lg-2 col-md-2 col-6">
							<div class="logo">
								<a href="index.html"><img src="images/feather-touch.png" class="img-fluid mx-auto d-block" alt=""></a>
							</div>
						</div>
						<div class="col-xl-9 col-lg-10 my-auto">
							<div class="stellarnav" id="main-nav1">
                <ul class="text-capitalize main-navbar">
                  <li>
                    <a href="#">About</a>
                      <ul class="sub-menu pl-0 mb-0">
                        <li><a href="group-companies.html">Group Companies</a></li>
                        <li><a href="vision.html">Vision</a></li>
                        <li><a href="policy.html">Policies</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Categories</a>
                    <ul class="sub-menu pl-0 mb-0">
                      <li><a href="products_listing.html">Toilet Rolls</a></li>
                      <li><a href="products_listing.html">Napkins</a></li>
                      <li><a href="products_listing.html">Towels/Wipes</a></li>
                      <li><a href="products_listing.html">Center Feed</a></li>
                      <li><a href="products_listing.html">Facial Tissues</a></li>
                      <li><a href="products_listing.html">Kitchen Towels</a></li>
                      <li><a href="products_listing.html">Hygienen Rolls</a></li>
                      <li><a href="products_listing.html">Dispensers</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Residential Range</a>
                    <ul class="sub-menu pl-0 mb-0">
                      <li><a href="products_listing.html">Product 01</a></li>
                      <li><a href="products_listing.html">Product 02</a></li>
                      <li><a href="products_listing.html">Product 03</a></li>
                      <li><a href="products_listing.html">Product 04</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Institutional Range</a>
                    <ul class="sub-menu pl-0 mb-0">
                      <li><a href="products_listing_insti.html">Product 01</a></li>
                      <li><a href="products_listing_insti.html">Product 02</a></li>
                      <li><a href="products_listing_insti.html">Product 03</a></li>
                      <li><a href="products_listing_insti.html">Product 04</a></li>
                    </ul>
                  </li>
                  <li><a href=>Offers</a>
                   <ul class="sub-menu pl-0 mb-0">
                      <li><a href="flash-sale.html">Flash Sale</a></li>
                      <li><a href="clearance-sale.html">Clearence Sale</a></li>
                      <li><a href="happy-hour.html">Happy Hour Sale</a></li>
                    </ul>
                  </li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="login.html">Sign in/Register</a>
                    <ul class="sub-menu pl-0 mb-0">
                      <li><a href="user-profile.html">My Profile</a></li>
                      <li><a href="wishlist.html">Wishlist</a></li>
                      <li><a href="my-orders.html">My Orders</a></li>
                      <li><a href="change_address.html">Manage Address</a></li>
                      <li><a href="track-order.html">Track Order</a></li>
                    </ul>
                  </li>
                  <li class="d-xl-none d-block"><a href="cart.html">Cart</a></li>
                  <li class="search-box d-xl-inline-block d-none">
                  	<a><div id="searchIcon"><i class="fa fa-search" aria-hidden="true"></i></div></a>
									</li>
									<li class="d-block d-xl-none"><input type="text" class="form-control srch" placeholder="search"></li>
                </ul>
                <!-- Search Form -->
                <div class="search-form">
                  <form action="#" method="get">
                    <input type="text" name="search" id="#searchInput3" onkeyup="showResult(this.value)" placeholder="Type Keywords Here">
                    <div id="livesearch"></div>
                    <button type="submit" class="d-none"></button>
                  </form>
                  <!-- Close Icon -->
                  <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
              </div>
						</div>
						<div class="col-xl-1 my-auto d-xl-block d-none">
							<ul class="login pl-0 mb-0">
								<li class="d-inline-block cart my-auto"><a href="cart.html"><img src="images/cart.png" class="img-fluid mx-auto d-inline-block" alt=""> Cart</a><div class="txt-top">1</div></li>
							</ul>
						</div>
             <div class="hover-box">
              <div class="row">
                <div class="col-4">
                  <img src="images/product8.jpg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="col-8 my-auto">
                  <div class="txt">
                    <h6>Tissue Rolls</h6>
                    <p class="mb-0"><del>&#8377; 360</del> &#8377; 280</p>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <img src="images/product1.jpg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="col-8 mt-4">
                  <div class="txt">
                    <h6>Toilet Rolls</h6>
                    <p class="mb-0"><del>&#8377; 360</del> &#8377; 280</p>
                  </div>
                </div>
                <div class="col-12 mt-5">
                  <div class="button text-center">
                    <a href="#">View Cart</a>
                  </div>
                </div>
              </div>
            </div>
					</div>
				</div>
			</div>
		</header>
	<!-- HEADER ENDS -->


<script>
  //STELLERNAV JS STARTS  
  jQuery('#main-nav1').stellarNav({
    theme     : 'plain', 
    breakpoint: 1199, 
    mobileMode: false,
    phoneBtn: false,
    locationBtn: false, 
    sticky     : false, 
    openingSpeed: 250, 
    closingDelay: 250, 
    position: 'right', 
     menuLabel: '',
    showArrows: true, 
    closeBtn     : false, 
    scrollbarFix: false
  });
//STELLERNAV JS ENDS
</script>